export REDISHOST=roundhouse.proxy.rlwy.net
export REDISPASSWORD=tPzHabwXiEqztNXSOzscrOUsICUPyjch
export REDISPORT=16348
export REDISUSER=default
export REDIS_URL=redis://default:tPzHabwXiEqztNXSOzscrOUsICUPyjch@roundhouse.proxy.rlwy.net:16348
